/* Genel Başlık ve Açıklama */
.etudes-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.etudes-description {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/* Sekme Butonları */
.etudes-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.tab-button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  background: #f4f4f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tab-button:hover {
  background: #0c1927;
}

.tab-button.active {
  background: #0c1927;
  color: white;
  border-color: #f4f4f9;
}

/* Sekme İçeriği */
.tab-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.video-container {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.react-player {
  border-radius: 10px;
}